<launch>

    <node name="vision" pkg="krti2023_pi" type="vision.py" args="" output="screen">
        <rosparam>
            use_sim: true
            verbose: true
            camera_index: 0
            <!-- target_lower_hsv: [8, 2, 7]
            target_upper_hsv: [24, 255, 255] -->
            target_lower_hsv: [0, 100, 100]
            target_upper_hsv: [20, 255, 255]
            <!-- target2_lower_hsv: [161, 100, 123]
            target2_upper_hsv: [188, 240, 255] -->
            target2_lower_hsv: [0, 255, 94]
            target2_upper_hsv: [0, 255, 255]
            front_fov_x: 78
            front_fov_y: 78
            down_fov_x: 78
            down_fov_y: 78
        </rosparam>
    </node>
    
</launch>
